*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #F2F1E4;
}

header
{
    background-image: url("images/vague.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@font-face {
    font-family: "Roboto";
    src: url(Font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Ministry";
    src: url(Font/Ministry/MINISTRY.otf);
}

@font-face {
    font-family: "Righteous";
    src: url(Font/Righteous/Righteous-Regular.ttf);
}

header {
    height: fit-content;
    padding-bottom: 15%;
}

header div nav h1
{
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    padding: auto;
    height: 100%;
}

header nav a {
    height: 100%;
    padding-right: 3%;
}

header hr
{
    background-color: #A7D9D9;
    border-radius: 10px;
    border: none;
    height: 5px;
    width: 80%;
    padding-left: 10em;
    margin: auto;
}

header div
{
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header div a img
{
    width: 100%;
    height: 100%;
    margin-right: 10px;
}



a, a:link, a:visited
{
    text-decoration: none;
    color: #F2F1E4;
}
header div nav a
{
    border-right: 3px solid #6C6373;
}

#Accueil h1
{
    text-decoration: underline;
    text-decoration-color: #6C6373;
    text-decoration-thickness: 3px;
    text-underline-position: auto;
}
  
header ul li:hover > ul
{
    display: block;
    position: absolute;
    right: 15px;
}

header ul li > ul a {
    border: none;
}

header nav ul {
    padding-right: 10px;
}

header ul ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #73A853;
    background: rgba(115, 168, 83, 0.5);
}
  
header ul li 
{
    display: inline-block;
}
  
header ul ul 
{
    position: absolute;
    display: none;
}
  
header ul ul li 
{
    display: block;
}

header ul ul li a img
{
    width: 123px;
    height: 82px;
    border-radius: 10px;
    margin: 1em;
}

header ul li img + img
{
    width: 75.18px;
    height: 53px;
    border-radius: 10px;
}

header div nav a + a + a + a
{
    border-right: none;
}

header > h1
{
    font-family: Ministry;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    text-align: right;
    color: #6C6373;
    margin: 80px;
}

header > p
{
    font-family: Righteous;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #6C6373;
    margin-right: 80px;
}

@media screen and (max-width: 900px) {
    header div > a img {
        display: none;
    }
}

.toggle {
    display: none;
}

.toggle, .menu {
    display: none;
}

.menu li a {
    color: #F2F1E4;
    text-decoration: none;
    font-family: Roboto;
}

@media screen and (max-width: 573px) {
    header > div {
        display: none;
    }
    
    header hr {
        visibility: hidden;
        width: 1%;
    }

    header > h1 {
        text-align: center;
    }

    header > p {
        text-align: center;
        margin: auto;
    }



    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 550px;
    }

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
        color: #6C6373;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 88.2%;
        height: 100vh;
        background: rgba(115, 168, 83, 0.8);
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .menu li a {
        font-size: 2rem;
    }

    .open .menu {
        transform: translateX(0);
    }
}